:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}



body {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.login, .signup {
  display:flex;
  border-radius: 24px;
  width:720px;
  height:400px;
  border: solid 2px gray;
}

.signup {
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width:500px;
  height:720px;
  position: relative;
}

.loginLeft, .loginRight {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:50%;
  justify-content: space-evenly;
}

.loginTitle, .signupTitle {
  font-size: 30px;
  width:300px;
  margin:20px;
}

.signupTop {
  display: flex;
  justify-content: center;
}

.signupBottom {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.signupTitle {
  font-weight: bold;
  text-align: center;
  margin-bottom: 80px;
}

.lbs {
  display:flex;
  align-items: center;
  width: 260px;
  justify-content: space-between;
  margin-top: 80px;
}

.confSignupButton, .signupButton, .loginButton {
  color: white;
  font-weight: bold;
  font-size: 18px;
  padding: 10px;
  border-radius: 8px;
}

.confSignupButton, .loginButton {
  background-color: rgb(43, 43, 193);
  height: 49px;
  width: 100px;
}

.signupButton {
  background-color: rgb(0, 0, 123);
}

.loginInput, .userInput {
  width:240px;
  height:40px;
  font-size:18px;
  padding-left:10px;
  border:solid 2px lightgray;
  border-radius:10px;
}

.userInput {
  width: 200px;
  margin: 20px 5px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid rgb(0, 0, 123);
  background-color: white;
}

.navigation {
  height:100%;
  width:80%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.titleLogo {
  display: flex;
  align-items: center;
}

#title {
  color: rgb(0, 0, 123);
  text-align: center;
  line-height: 18px;
}

#logo {
  width:80px;
}

.navbarButtons {
  width: 40%;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 123);
  font-weight: bold;
}

#signoutButton {
  height: 50px;
  background-color: rgb(0, 0, 123);
  color: white;
  font-weight: bold;
  font-size: 18px;
  width: 100px;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height:calc(100% - 82px);
  position: relative;
  top: 82px;
}

.home {
  width: 100%;
  height: 100%;
  display: flex;
}

.homeText {
  color: white;
  font-size: 18px;
  margin: auto;
}

.homeTitle {
  font-weight: bold;
  font-size: 50px;
}

.homeNavButton {
  height: 120px;
  width: 480px;
  background-color: rgb(0, 0, 123);
  color: white;
  font-size: 24px;
  border-radius: 42px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.homeBackground {
  overflow: hidden;
  position:fixed;
  z-index: -1;
  opacity: 75%;
}